email-validator==1.1.1
Flask==1.1.1
Flask-Boot==0.0.1
Flask-Bootstrap==3.3.7.1
Flask-Bootstraps==3.3.7.8
Flask-Composer==0.4.1
Flask-Dance==3.0.0
Flask-Ext==0.1
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Moment==0.5.1
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
oauthlib==3.1.0
PyJWT==1.7.1
python-dateutil==2.8.1
requests==2.23.0
requests-oauthlib==1.3.0
SQLAlchemy==1.3.13
virtualenv==20.0.31
Werkzeug==0.16.0
WTForms==2.3.3
